block viewContent
	#view.about
		.title
			h5 RED VISON について
		.image
			img( src='/collections/japanese-wolf/image', alt='ニホンオオカミ' )
		.description.
			【過去】に想像した【未来】は、【今】残っているのか。<br><br>

			例えば、昔の人々はニホンオオカミが絶滅すると思っていたのでしょうか。<br>
			<br>
			そこには、その時代の価値観（-VISION）では想像しなかった文化の変容や、生物の消滅が起こっているはずです。<br>
			つまり、過去に想像された未来は、今の世界とは異なるかもしれません。<br><br>

			しかし、なぜそれらは失われたのか、その背景を忘れては今を語れないはずです。<br>
			当時の人々の想像（-VISION）が、まさに時代の象徴であり、それを飛び越えた先に今の世界が存在しているのです。<br><br>

			果たして、僕らが【今】想像した【未来】が、本当に【未来】になっているのか。<br><br>

			ここは、現在進行形を生きる僕らが「未来に失われるもの」を想像し、それらをアーカイブするためのウェブサイトです。<br>

